.screen{
    width: 40vw;
    height: 24.7vw;
    margin-left: 30vw;
    margin-right: 30vw;
}

.controls {
    display: flex;
    justify-content: space-between;
}

#nextBtn {
    order: 2;
}

.hide {
    visibility: hidden;
}

.q-container {
    padding: 2px 16px;
    width: 40%;
}

.results {
    display: inline-block;
    width: 40%;
    margin-left: 30vw;
}

.results h2 {
    text-align: center;
}